<!DOCTYPE html>
<html>

<head>
	<title>To-Do-List</title>
	<link rel="stylesheet" type="text/css" href="./css/styleToDo.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>
	<div class="container">
		<h2>
			<%= pageTitle %>
		</h2>
		<p id="warning"></p>
		<p>Task:
			<input class="taskTextBox" id="inputtxt" type="text" placeholder="Add Task.." name="Task">
			<button class="addButton" type="button">Add</button>
		</p>
		<div class="buttons">
			<button class="allBtn allbtns" type="button">All Task</button>			
			<button class="markallBtn allbtns" type="button">Mark All Completed</button>
			<button class="unmarkallBtn allbtns" type="button">Unmark All</button>		
			<button class="activeBtn allbtns" type="button">Active</button>	
			<button class="completedBtn allbtns" type="button">Completed</button>
			<button class="clrBtn allbtns" type="button">Clear Completed</button>
		</div>
		<div class="allTask">
			<ul id="ulItem" class="clearfix">
				<% for(var i=0; i < todojsontxt.length; i++) {%>
					<% if(todojsontxt[i].status == true){ %>
						<li class="liMarkAll">
							<input class="checkbox" type="checkbox" checked><input class="input liMarkAll" data-id="<%=todojsontxt[i].id %>" value="<%=todojsontxt[i].name %>" readonly>
							<button class="close" type="button">&times;</button>
						</li>
					<% } else{ %>
						<li>
							<input class="checkbox" type="checkbox"><input class="input" data-id="<%=todojsontxt[i].id %>" value="<%=todojsontxt[i].name%>">
							<button class="close" type="button">&times;</button>
						</li>
					<% } %>
				<% } %>
			</ul>
		</div>
		<div>
			<ul class="activeTask disp">
			</ul>	
		</div>
		<div >
			<ul class="completeTask disp">
			</ul>
		</div>
	</div>
	<script src="./js/scripttodo.js"></script>
</body>

</html>